<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <title>SOK Tim3</title>
</head>
<body>
<div class="wrapper">
    <nav class="border-frame">
        <div class="logo">
            <h1>Team3 Graph Visualizator</h1>
        </div>

        <div class="selections">
            <form id="parameters-form">
                {% csrf_token %}
                <div class="selections-row">
                    <select id="visualizator-selection" name="visualization">
                        <option value="default">select visualizator</option>
                        {% for visualizator in visualizators %}
                            <option value="{{ visualizator.name }}">{{ visualizator.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="selections-row">
                    <h2>parse and visualize graph from file:</h2>
                    <select id="parser-selection" name="parser">
                        <option value="default">select parser</option>
                        {% for parser in parsers %}
                            <option value="{{ parser.name }}">{{ parser.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="file" id="file-selection" name="file">
                    <button id="parse-file-button" type="button">Parse file</button>
                </div>
                <div class="selections-row">
                    <h2>load existing graph:</h2>
                    <select id="graph-selection" name="graph">
                        <option value="default">select graph</option>
                        {% for graph in loaded_graphs %}
                            <option value="{{ graph.name }}">{{ graph.name }}</option>
                        {% endfor %}
                    </select>
                    <button id="load-graph-button" type="button">Load graph</button>
                </div>
            </form>
        </div>
    </nav>

    <div class="upper">
        <div class="tree-view border-frame">

        </div>

        <div class="main-visual border-frame" id="main-div">
            {% if rendered_graph %}
                {{ rendered_graph|safe }}
            {% endif %}
        </div>
    </div>

    <div class="lower">
        <div class="bird-view border-frame">
            <svg id="bird-svg"></svg>
        </div>

        <div class="search-and-details border-frame">
                <div class="search-and-details-inner">
                    <h2>Search and filter</h2>
                    <div class="search">
                     <form>
                        <input type="text" id="search-filter-input" name="search-filter-text" value="{{ search_filter_current_text }}">

                        <div id="buttons-div">
                            <input type="submit" class="sf-button" id="filter-button" value="Filter">
                            <input type="submit" class="sf-button" id="search-button" value="Search">
                        </div>
                    </form>
            </div>

                </div>
            <div class="details">
                <p class="node-details"></p>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'parse-load-buttons.js' %}"></script>
<script src="{% static 'search-filter-buttons.js' %}"></script>
<script src="{% static 'bird-view.js' %}"></script>
<script src="{% static 'tree-view.js' %}"></script>

</div>
</body>
</html>