*
{
    margin: 0;
    font-family: Calibri;
}

body
{
    height: 100vh;
    width:100vw;
}

.wrapper
{
    background-color: lightgray;
    box-sizing: border-box;
    padding: 0.5rem;
    gap:0.5rem;
    display: flex;
    flex-direction: column;
    height: 100%;

}

nav
{
    background-color: darkcyan;
    height: 18%;
    width: 100%;
}

.upper
{
    gap:0.5rem;
    display: flex;
    flex-direction: row;
    height: 54%;
    width: 100%;
}

.lower
{
    gap:0.5rem;
    display: flex;
    flex-direction: row;
    height: 28%;
    width: 100%;
}

.tree-view
{
    background-color: lightcyan;
    height: 100%;
    width: 25%;
}

.main-visual

{
    background-color: lightcyan;
    height: 100%;
    width: 75%;
}

.bird-view
{
    background-color: lightcyan;
    height: 100%;
    width: 25%;
}

.search-and-details
{
    background-color: lightcyan;
    height: 100%;
    width: 75%;
}

.border-frame
{
    box-sizing: border-box;
    border-width: 0.2rem;
    border-style: solid;
    border-color: black;
    border-radius: 0.5rem;
    padding: 0.6rem;
    display: flex;
    gap: 32px;
}

.main-visual, .bird-view, .tree-view
{
    padding: 0rem;
}

h1
{
    font-weight: normal;
    color:white;
}

h2
{
    font-weight: normal;
    font-size: 14px;
    color:white;
}

input[type="file"] + label::after {
    color: white;
}



select, input, button
{
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
    font-weight: normal;
    border-style: none;
}

.selections form
{
    display:flex;
    flex-direction: column;
    gap: 6px;
}

#load-graph-button
{
    margin-left: 16px;
}

.bird-view svg {
    pointer-events: none;
}

.search-and-details{
    display: flex;
    flex-direction: row;
}

.search-and-details h2
{
    color: black;
    font-size: 18px;

}

#search-filter-input
{
    min-width: 300px;
    font-size: 18px;
    border-style: solid;
    margin-bottom: 16px;
}

.sf-button
{
    font-size: 18px;
    border-style: solid;
}

.search-and-details-inner{
    display: flex;
    flex-direction: column;
    flex:1;
}

.search
{
    flex: 1
}

.details {
  flex: 1;
  height: 100%;
  overflow: auto; /* Add this line to enable scrolling */
}


.node {
            cursor: pointer;
        }

        .node circle {
            fill: #fff;
            stroke: steelblue;
            stroke-width: 1.5px;
        }

        .node text {
            font: 12px sans-serif;
        }

        .link {
            fill: none;
            stroke: #ccc;
            stroke-width: 1.5px;
        }