<div id="visualization"></div>
<script src="https://d3js.org/d3.v6.min.js"></script>
<script>
    var nodes = [
        {% for node in graph.nodes %}
        {
            id: "{{ node.id }}",
            name: "{{ node.name }}"
        },
        {% endfor %}
    ];

    var edgeMatrix = [
        {% for row in graph.edge_matrix %}
        [{% for value in row %}{% if value %}true{% else %}false{% endif %},{% endfor %}],
        {% endfor %}
    ];

    var links = [];
    for (var i = 0; i < edgeMatrix.length; i++) {
        for (var j = 0; j < edgeMatrix[i].length; j++) {
            if (edgeMatrix[i][j]) {
                var sourceNode = nodes[i];
                var targetNode = nodes[j];
                links.push({
                    source: sourceNode.id,
                    target: targetNode.id
                });
            }
        }
    }

    var width = 600;
    var height = 400;

    var svg = d3.select("#visualization")
        .append("svg")
        .attr("width", width)
        .attr("height", height);

    var simulation = d3.forceSimulation(nodes)
        .force("link", d3.forceLink(links).id(d => d.id))
        .force("charge", d3.forceManyBody().strength(-200))
        .force("center", d3.forceCenter(width / 2, height / 2))
        .on("tick", () => {
            link.attr("x1", d => d.source.x)
                .attr("y1", d => d.source.y)
                .attr("x2", d => d.target.x)
                .attr("y2", d => d.target.y);

            node.attr("cx", d => d.x)
                .attr("cy", d => d.y);

            label.attr("x", d => d.x)
                .attr("y", d => d.y + 5);
        });

    var link = svg.selectAll(".link")
        .data(links)
        .enter().append("line")
        .attr("class", "link");

    var node = svg.selectAll(".node")
        .data(nodes)
        .enter().append("circle")
        .attr("class", "node")
        .attr("r", 20);

    var label = svg.selectAll(".label")
        .data(nodes)
        .enter().append("text")
        .attr("class", "label")
        .attr("text-anchor", "middle")
        .text(d => d.name);
</script>
