<div id="visualization"></div>
<script src="https://d3js.org/d3.v6.min.js"></script>
<script>
    var nodes = [
        {% for node in graph.nodes %}
            {
                id: "{{ node.id }}",
                name: "{{ node.name }}",
                attributesJson: JSON.parse('{{ node.attributesJson | safe }}')
            },
        {% endfor %}
    ];

    var edgeMatrix = [
        {% for row in graph.edge_matrix %}
            [{% for value in row %}{% if value %}true{% else %}false{% endif %}, {% endfor %}],
        {% endfor %}
    ];

    var links = [];
    for (var i = 0; i < edgeMatrix.length; i++) {
        for (var j = i + 1; j < edgeMatrix[i].length; j++) {
            if (edgeMatrix[i][j]) {
                var sourceNode = nodes[i];
                var targetNode = nodes[j];
                links.push({
                    source: sourceNode.id,
                    target: targetNode.id
                });
            }
        }
    }

    var width = document.getElementById("main-div").clientWidth;
    var height = document.getElementById("main-div").clientHeight;

    var svg = d3
        .select("#visualization")
        .append("svg")
        .attr("width", width)
        .attr("height", height)
        .call(d3.zoom().on("zoom", zoomed))
        .append("g");

    var simulation = d3
        .forceSimulation(nodes)
        .force("link", d3.forceLink(links).id(d => d.id).distance(120))
        .force("charge", d3.forceManyBody().strength(-200))
        .force("center", d3.forceCenter(width / 2, height / 2))
        .force("collide", d3.forceCollide().radius(d => Math.max(20, d.name.length * 3 + 5)))
        .on("tick", () => {
            link.attr("x1", d => d.source.x)
                .attr("y1", d => d.source.y)
                .attr("x2", d => d.target.x)
                .attr("y2", d => d.target.y);

            node.attr("transform", d => `translate(${d.x},${d.y})`);
        });

    var link = svg
        .selectAll(".link")
        .data(links)
        .enter()
        .insert("line", ".node")
        .attr("class", "link")
        .style("stroke", "#888")
        .style("stroke-width", 2);

    var node = svg
        .selectAll(".node")
        .data(nodes)
        .enter()
        .append("g")
        .attr("class", "node")
        .call(d3.drag().on("start", dragStarted).on("drag", dragged).on("end", dragEnded))
        .each(function (d) {
            d.that = this;
        });

    var rectPadding = 10;

    node
        .append("rect")
        .attr("class", "node-rect")
        .style("fill", "#68fca3")
        .each(function (d) {
            var duzina = 100;
            var brKategorija = Object.keys(d.attributesJson).length;

            var textSize = 10;
            var visina = (brKategorija == 0) ? textSize : brKategorija * textSize;
            visina += textSize;

            var parentNode = d3.select(this.parentNode);
            var rectNode = parentNode.select("rect.node-rect");


            var brKarakteraNajduzi = -1;
            for (let key in d.attributesJson) {

                let rec = key + ": " + d.attributesJson[key]
                if (brKarakteraNajduzi < rec.length) {
                    brKarakteraNajduzi = rec.length
                }
                console.log(rec)
                console.log(rec.length)
                console.log(typeof (rec))
            }

            duzina = brKarakteraNajduzi * 5
            if (duzina % 2 !== 0) {
                duzina++;
            }
            console.log(duzina)


            rectNode.attr("width", duzina)
                .attr("height", visina + textSize).attr('x', -duzina / 2).attr('y', -visina / 2);
        })

    node
        .append("text")
        .attr("text-anchor", "middle")
        .attr("class", "label")
        .attr("fill", "black")
        .each(function (d) {
            var duzina = 100;
            var brKategorija = Object.keys(d.attributesJson).length;

            var textSize = 10;
            var visina = (brKategorija == 0) ? textSize : brKategorija * textSize;
            visina += textSize;

            var parentNode = d3.select(this.parentNode);
            var labelNode = parentNode.select("text.label");


            var brKarakteraNajduzi = -1;
            for (let key in d.attributesJson) {

                let rec = key + ": " + d.attributesJson[key]
                if (brKarakteraNajduzi < rec.length) {
                    brKarakteraNajduzi = rec.length
                }
                console.log(rec)
                console.log(rec.length)
                console.log(typeof (rec))
            }


            duzina = brKarakteraNajduzi * 5
            if (duzina % 2 !== 0) {
                duzina++;
            }
            console.log(duzina)

            labelNode.attr('x', 0).attr('y', -visina / 2 + textSize).attr('font-size', textSize).text(d => d.name)
        });

    node
        .append('line')
        .attr('class', 'separator')
        .attr('stroke', 'black')
        .attr('stroke-width', 2)
        .each(function (d) {
            var duzina = 100;
            var brKategorija = Object.keys(d.attributesJson).length;

            var textSize = 10;
            var visina = (brKategorija == 0) ? textSize : brKategorija * textSize;
            visina += textSize;

            var parentNode = d3.select(this.parentNode);
            var separatorNode = parentNode.select("line.separator");


            var brKarakteraNajduzi = -1;
            for (let key in d.attributesJson) {

                let rec = key + ": " + d.attributesJson[key]
                if (brKarakteraNajduzi < rec.length) {
                    brKarakteraNajduzi = rec.length
                }
                console.log(rec)
                console.log(rec.length)
                console.log(typeof (rec))
            }

            duzina = brKarakteraNajduzi * 5
            if (duzina % 2 !== 0) {
                duzina++;
            }
            console.log(duzina)

            separatorNode.attr('x1', -duzina / 2).attr('y1', -visina / 2 + textSize + 4).attr('x2', duzina / 2).attr('y2', -visina / 2 + textSize + 4)

        })


    node
        .append("text")
        .attr("text-anchor", "middle")
        .attr("class", "attributes")
        .attr("fill", "black")
        .each(function (d) {
            var duzina = 100;
            var brKategorija = Object.keys(d.attributesJson).length;

            var textSize = 10;
            var visina = (brKategorija == 0) ? textSize : brKategorija * textSize;
            visina += textSize;

            const entries = Object.entries(d.attributesJson)

            var parentNode = d3.select(this.parentNode)
            var attributeNode = parentNode.select('text.attributes')


            var brKarakteraNajduzi = -1;
            for (let key in d.attributesJson) {

                let rec = key + ": " + d.attributesJson[key]
                if (brKarakteraNajduzi < rec.length) {
                    brKarakteraNajduzi = rec.length
                }
                console.log(rec)
                console.log(rec.length)
                console.log(typeof (rec))
            }

            duzina = brKarakteraNajduzi * 5
            if (duzina % 2 !== 0) {
                duzina++;
            }
            console.log(duzina)


            entries.forEach(function ([key, value], index) {
                attributeNode
                    .append("tspan")
                    .attr("x", -duzina / 2 + 5)
                    .attr("y", -visina / 2 + textSize * 2.5 + index * textSize)
                    .attr("text-anchor", "start")
                    .attr("font-size", textSize)
                    .attr("font-family", "sans-serif")
                    .attr("fill", "black")
                    .text(key + ": " + value);
            });
        });


    node.on("click", handleNodeClick);


    function handleNodeClick(event, d) {
        node.selectAll("rect").style("fill", "#68fca3");

        var url = "/get_data/" + d.id;

        d3.json(url).then(function (response) {
            var message = response.message;

            var nodeDetails = d3.select(".details .node-details");
            nodeDetails.html(message);
        });

        d3.select(d.that).select("rect").style("fill", "red");

        copyGraphToBirdView();
    }


    function zoomed(event) {
        svg.attr("transform", event.transform);
    }

    function dragStarted(event, d) {
        if (!event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
    }

    function dragged(event, d) {
        d.fx = event.x;
        d.fy = event.y;
    }

    function dragEnded(event, d) {
        if (!event.active) simulation.alphaTarget(0);
        d.fx = null;
        d.fy = null;
    }
</script>
<style>
    .label,
    .node rect {
        cursor: grab;
    }

    .label:hover,
    .node rect:hover {
        cursor: grabbing;
    }
</style>
